{% extends "blog/base.html" %}
{% block title %} Enter New Password {% endblock %}
{% block password_reset %}
    {% if validlink %}
    <form method="POST">
        <h1>Set a new Password!</h1>
        {% csrf_token %}
        {{ form.as_p }}
        <input type="submit" value="Change my password">
    </form>
    {% else %}
    <p>{% trans "The password reset link was invalid, possibly because it has already been used.  Please request a new password reset." %}</p>
    {% endif %}
{% endblock %}